.orders{
  width: 100vw;
  height: 100%;
  background-color:#eff0f4;
  color: #212121;
  padding: 4rem;
}
.orders__header{
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #424242;
  font-weight: 400;
  text-transform: capitalize;
}
.orders__card{
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius:0.5rem;
  -webkit-border-radius:0.5rem;
  -moz-border-radius:0.5rem;
  -ms-border-radius:0.5rem;
  -o-border-radius:0.5rem;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}
.order__info{
  border-bottom:1px solid #dadada;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.order__id{
  font-size: 0.75rem;
  font-weight: 700;
}
.order__id-color{
  color: #1a9cb7;
}
.order__date{
  color:#757575;
  display: inline-block;
  margin-top: 0.4rem;
}
.order__details{
  width: 100%;
}
.order-item__detail{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}
.order-item__image{
  max-width: 16rem;
  display: flex;
}
.order-item__desc{
font-weight: 600;
}
.order-item__image img{
  height: 80px;
  width: 80px;
  margin-right: 0.5rem;
}
.status{
  padding: 0.3rem;
  background-color: #106677;
  color:#fff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.order__total{
  text-align: right;
  margin: 0.8rem 0;
  font-weight:700;
}
.total__color{
  color: #e75a08;
}

@media(max-width: 30rem){
  .orders{
    padding: 2rem 0.5rem;
  }
  .order__info{
    margin:0;
  }
  .order-item__image{
    display: block;
    max-width: 6rem;
    font-size:0.6rem
  }
  .order-item__image img{
    width:45px;
    height: 45px;
  }
  .order-item__detail{
    font-size:0.7rem;
  }
}